@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;


$white: #F6F4F3;
$red: #EF2F3C;
$blue: #2977D0;
$green:#26BF59;





  
html {
 
  
}

body {
  display:flex;
justify-content:center;
  
}

.container{
  
  
}

h1 {
  font-family: $font;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
}

#timer {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font;
  font-size: .7em;
  letter-spacing: 5px;
  
}

.days,.weeks,.months{
  display: inline-block;
  padding: 20px;
  width: 100px;
  border-radius: 5px;
}

.days {
  background: $blue;
  
}

.weeks{
   background: $green;
}
.months{
    background: $red;
}
.numbers {
  font-family: $big;
  color: $white;
  font-size: 4em;
}

